/*============= RESETS =============*/

/*-- iPhone X Remove Gutters --*/
html {
   padding: env(safe-area-inset);
}
/*-- Prevent Horizontal Scrolling & Font Style --*/
html, body {
   overflow-x: hidden;
   font-family: 'Lato', sans-serif;
   color: #505962;
}
.text-nuno {
   color: #F8B6BA;
}

.cards i {
   font-size: 100px;
}

/*--- Nav Scrolling Offset --*/
.offset:before {
   content: "";
   height: 4rem;
   display: block;
   margin-top: -4rem;
}

/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
   padding: 1rem;
}

/*============= NAVIGATION =============*/
.navbar-brand img {
   height: 2rem;
}


.navbar-brand:hover {
   color: white;
   opacity: 1.0;
   }

.navbar {
   padding: .7rem 1rem;
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing: .1rem;
   font-size: .9rem;
   transition: background-color .5s ease;

}
.navbar-nav li {
   padding-right: .8rem;
}
.navbar-nav .nav-link {
   color: white;
   padding-top: .8rem;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
   color: #1EBBA3;
}


.custom-toggler-icon {
   color: white;
   font-size: 1.6rem;
}
.navbar.solid,
.navbar.solid-toggle {
   background: rgba(0, 0, 0, .7)!important;
   transition: background-color 1s ease;
}

/*-- Remove Button Outline --*/
button:focus, a:focus, a.btn:focus {
   outline: 0;
   -webkit-appearance: none;
   box-shadow: none;
   transition: all .6s ease;
}
button, a, a.btn,
.svg-inline--fa {
   transition: all .6s ease;
}

/*============= LANDING PAGE =============*/

/*--- Fixed Landing Page Section --*/
.landing {
   position: relative;
   width: 100%;
   height: 100vh;
   display: table;
   z-index: -1;
}
.home-wrap {
   clip: rect(0, auto, auto, 0);
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
}


.home-inner {
   background-image: url('../img/background.jpg');
   position: fixed;
   height: 100vh;
   width: 100%;
   background-size: cover;
   background-position: center center;
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
   will-change: transform;
   display: table;
}

/*--
.home-inner {
    background-image: url('../img/background.jpg');
    background-size: 100%;

   position: fixed;
   height: 100%;
   width: 100%;
   background-size: cover;
   background-position: center center;
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
   will-change: auto;
   display: table;
}

--*/

/*-- Landing Page Caption --*/
.caption {
   z-index: 1;
   position: absolute;
   top: 10%;
   width: 100%;
   max-width: 100%;
}
.caption h1 {
   font-size: 3.5rem;
   letter-spacing: .3rem;
   text-shadow: .1rem .1rem .8rem black;
   padding-bottom: 1rem;
}
.caption h3 {
   font-size: 2.5rem;
   text-shadow: .1rem .1rem .5rem black;
   padding-bottom: 2rem;
}
.caption .btn-lg {
   border-width: medium;
   padding: .8rem 1.5rem;
   font-size: 1.1rem;
}

/*-- Bouncing Down Arrow --*/
.arrow {
   position: absolute;
   bottom: 0;
   width: 100%;
   animation: bounce 2s infinite;
   -webkit-animation: bounce 2s infinite;
}
.down-arrow .svg-inline--fa {
   color: white;
   font-size: 2.2rem;
   opacity: .3;
}
.down-arrow .svg-inline--fa:hover {
   opacity: .8;
}

/*============= FEATURES SECTION =============*/

.btn-sm {
   border-width: medium;
   border-radius: 0;
   padding: .5rem 1.1rem;
   text-transform: uppercase;
   font-size: .9rem;
   margin: 1rem;
}
.btn-nuno {
   background-color: #1EBBA3;
   color: white;
}
.btn-nuno:hover {
   background-color: #189582;
   color: white;
}
h3.heading {
   text-transform: uppercase;
   font-weight: 700;
   font-size: 1.9rem;
   text-align: center;
   margin-bottom: 1.9rem;
}
.heading-underline {
   width: 3rem;
   height: .2rem;
   background-color: #1EBBA3;
   margin: 0 auto 2rem;
}
.feature span {
   color: #1EBBA3;
   margin-bottom: .6rem;
}
.feature h3 {
   text-transform: uppercase;
   font-size: 1.3rem;
   padding-bottom: .4rem;
}

/*===== FIXED BACKGROUND IMG DARK =====*/

/*--- iOS Fixed Background Image --*/
.fixed {
   position: relative;
   width: 100%;
}
.fixed-wrap {
   clip: rect(0, auto, auto, 0);
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   z-index: -9999;
}
.fixed-dark {
   background-image: url('../img/fixed/apple.jpg');
   position: fixed;
   height: 100%;
   width: 100%;
   background-size: cover;
   background-position: center center;
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
   will-change: auto;
   z-index: -1;
   top: 0;
   left: 0;
   display: table;
}
.dark {
   background-color: rgba(0, 0, 0, .7);
   padding: 7rem 0;
   z-index: 1000;
}

/*============= PORTFOLIO SECTION =============*/

.portfolio-item img:hover {
   transform: scale(1.3);
   cursor: zoom-in;
}
.portfolio-item img {
   transition: transform .4s ease;
}

/*============= PRICING SECTION =============*/

.pricing-column {
   background-color: white;
   height: 100%;
   padding: 1.6rem;
   border-top: .25rem solid #1EBBA3;
   box-shadow: 0 0 .8rem rgba(0, 0, 0, .075);
   transition: transform .7s ease;
   position: relative;
   overflow: hidden;
}
.pricing-column:hover {
   transform: scale(1.1);
}
.pricing-column h4 {
   font-size: 1.1rem;
   font-weight: 700;
}
.ribbon {
   background-color: #6c757d;
   color: white;
   font-size: .8rem;
   font-weight: 700;
   height: 2rem;
   width: 10rem;
   padding-top: .4rem;
   position: absolute;
   transform: rotate(45deg);
   right: -2.8rem;
   top: 1.5rem;
   box-shadow: 0 0 .2rem rgba(0, 0, 0, .25);
}

/*============= TEAM SECTION FIXED BG IMG LIGHT =============*/

/*--- Team Light Background Image --*/
.fixed-light {
   background-image: url('../img/fixed/office.jpg');
   position: fixed;
   height: 100%;
   width: 100%;
   background-size: cover;
   background-position: center center;
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
   will-change: auto;
   z-index: -1;
   top: 0;
   left: 0;
   display: table;
}
.light {
   background-color: rgba(255, 255, 255, .75);
   padding: 5rem 0;
   z-index: 1000;
}
.owl-stage {
   display: flex;
}
.card {
   height: 100%;
   border-radius: 0;
   text-align: center;
   margin: 0 1rem;
   border: .1rem solid rgba(0, 0, 0, .075);
   box-shadow: 0 0 .8rem rgba(0, 0, 0, .075);
   transition: transform .4s ease;
}
.card:hover {
   transform: scale(.95);
}
button.owl-dot.active span,
button.owl-dot:hover span {
   background: #1EBBA3!important;
}
ul.social {
   list-style: none;
   padding: 0;
   margin: 0;
   font-size: 1.5rem;
}
ul.social li {
   display: inline;
   padding-right: .8rem;
}
ul.social li a {
   color: #1EBBA3;
   transition: all .2s ease;
}
ul.social li a:hover {
   color: #505962;
}

/*============= SKILLS SECTION =============*/


/*============= CLIENTS SECTION =============*/

#clients-carousel {
   max-width: 1200px;
   margin: 0 auto;
}
.clients img {
   border-radius: 50%;
   transition: transform .3s ease;
}
.clients img:hover {
   transform: scale(.95);
}
blockquote .svg-inline--fa {
   margin: 1rem;
   color: #1EBBA3;
}
.clients-hr {
   border-top: .1rem solid #1EBBA3;
}

/*============= CONTACT SECTION =============*/

.footer {
   background: url('../img/footer/footer.jpg') no-repeat;
   background-size: cover;
   color: white;
   /* background-color: #505962; */
}
.row.outer {
   background-color: rgba(57, 63, 70, .85);
   padding: 1rem 2rem 3rem;
}
.footer img {
   height: 2rem;
   margin: 1.5rem 0;
}
.footer a,
.footer ul.social li a {
   color: white;
}
.footer ul.social li a:hover {
   color: #1EBBA3;
}
.footer h3 {
   text-transform: uppercase;
   margin: 1.5rem 0;
}

/*--- Contact Form --*/
.form-group {
   margin-bottom: 1.3rem;
}
.form-control {
   background-color: #53595f;
   border-radius: 0;
   border: .15rem solid #666b71;
   color: black!important;
   font-size: 1.1rem;
}
.form-control:focus {
   background-color: #53595f;
   border: .15rem solid #666b71;
}
.form-group input::placeholder,
.form-group textarea::placeholder {
   color: #b2b5b8!important;
}
hr.socket {
   border-top: .2rem solid #666b71;
   width: 100%;
}

/*============= TOP SCROLL =============*/

a.top-scroll {
   right: 1.2rem;
   bottom: 1.2rem;
   position: fixed;
   opacity: .3;
   z-index: 1000;
   display: none;
}
a.top-scroll:hover {
   opacity: .5;
}
.top-scroll .svg-inline--fa {
   background: white;
   color: #53595f;
   font-size: 3rem;
   height: 1.7rem;
}

/*============= MEDIA QUERIES =============*/

/* Devices under 992px (lg) */
@media (max-width: 991.98px) {
   .caption h1 {
      font-size: 3.5rem;
      letter-spacing: .2rem;
      padding-bottom: .8rem;
   }
   .caption h3 {
      font-size: 2.2rem;
      padding-bottom: 1.7rem;
   }
   .caption .btn-lg {
      padding: .7rem 1.2rem;
      font-size: 1rem;
   }
   .clients img {
      max-width: 50%;
      margin: 0 auto;
   }
}

/* Devices under 768px (md) */
@media (max-width: 767.98px) {
   .caption h1 {
      font-size: 2.7rem;
      letter-spacing: .15rem;
      padding-bottom: .5rem;
   }
   .caption h2 {
      font-size: 1.0rem;
      letter-spacing: .015rem;
      padding-bottom: .5rem;
      padding-top: 1.5rem;
      padding-right: 2rem;
   }
   .caption h3 {
      font-size: 1.7rem;
      padding-bottom: 1.2rem;
   }
   .caption .btn-lg {
      padding: .6rem 1.1rem;
   }
   #features h1 {
      font-size: 2rem;
   }
   .fixed-dark {
      background-image: url('../img/fixed/apple.jpg')
   }
   .fixed-light {
      background-image: url('../img/fixed/office-mobile.jpg')
   }
   .footer {
      background: url('../img/footer/footer-mobile.jpg') no-repeat;
   }
   .top-scroll {
      display: none!important;
   }
   .image {
      width: 10%;
      padding-top: 20rem;
      padding-left: 8rem;
      
   }

}

/* Devices under 576px (sm) */
@media (max-width: 575.98px) {
   .caption h1 {
      font-size: 1.9rem;
      letter-spacing: .1rem;
      padding-bottom: .4rem;
   }
   .caption h3 {
      font-size: 1.2rem;
      padding-bottom: 1rem;
   }
   .caption .btn-lg {
      padding: .4rem .9rem;
      font-size: .9rem;
   }
}

/* Sign up */

.form-control {
   display: block;
   width: 100%;
   height: calc(2.25rem + 2px);
   padding: 0.375rem 0.75rem;
   font-size: 1rem;
   line-height: 1.5;
   color: #495057;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid #ced4da;
   border-radius: 0.25rem;
   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
   @media screen and (prefers-reduced-motion: reduce) {
     .form-control {
       transition: none; } }
   .form-control::-ms-expand {
     background-color: transparent;
     border: 0; }
   .form-control:focus {
     color: #495057;
     background-color: #fff;
     border-color: #8cdcd5;
     outline: 0;
     box-shadow: 0 0 0 0.2rem rgba(54, 179, 168, 0.25); }
   .form-control::placeholder {
     color: #6c757d;
     opacity: 1; }
   .form-control:disabled, .form-control[readonly] {
     background-color: #e9ecef;
     opacity: 1; }

 select.form-control:focus::-ms-value {
   color: #495057;
   background-color: #fff; }

 .form-control-file,
 .form-control-range {
   display: block;
   width: 100%; }

 .col-form-label {
   padding-top: calc(0.375rem + 1px);
   padding-bottom: calc(0.375rem + 1px);
   margin-bottom: 0;
   font-size: inherit;
   line-height: 1.5; }

 .col-form-label-lg {
   padding-top: calc(0.5rem + 1px);
   padding-bottom: calc(0.5rem + 1px);
   font-size: 1.25rem;
   line-height: 1.5; }

 .col-form-label-sm {
   padding-top: calc(0.25rem + 1px);
   padding-bottom: calc(0.25rem + 1px);
   font-size: 0.875rem;
   line-height: 1.5; }

 .form-control-plaintext {
   display: block;
   width: 100%;
   padding-top: 0.375rem;
   padding-bottom: 0.375rem;
   margin-bottom: 0;
   line-height: 1.5;
   color: #212529;
   background-color: transparent;
   border: solid transparent;
   border-width: 1px 0; }
   .form-control-plaintext.form-control-sm, .form-control-plaintext.form-control-lg {
     padding-right: 0;
     padding-left: 0; }

 .form-control-sm {
   height: calc(1.8125rem + 2px);
   padding: 0.25rem 0.5rem;
   font-size: 0.875rem;
   line-height: 1.5;
   border-radius: 0.2rem; }

 .form-control-lg {
   height: calc(2.875rem + 2px);
   padding: 0.5rem 1rem;
   font-size: 1.25rem;
   line-height: 1.5;
   border-radius: 0.3rem; }

 select.form-control[size], select.form-control[multiple] {
   height: auto; }

 textarea.form-control {
   height: auto; }

 .form-group {
   margin-bottom: 1rem; }

 .form-text {
   display: block;
   margin-top: 0.25rem; }

 .form-row {
   display: flex;
   flex-wrap: wrap;
   margin-right: -5px;
   margin-left: -5px; }
   .form-row > .col,
   .form-row > [class*="col-"] {
     padding-right: 5px;
     padding-left: 5px; }

 .form-check {
   position: relative;
   display: block;
   padding-left: 1.25rem; }

 .form-check-input {
   position: absolute;
   margin-top: 0.3rem;
   margin-left: -1.25rem; }
   .form-check-input:disabled ~ .form-check-label {
     color: #6c757d; }

 .form-check-label {
   margin-bottom: 0; }

 .form-check-inline {
   display: inline-flex;
   align-items: center;
   padding-left: 0;
   margin-right: 0.75rem; }
   .form-check-inline .form-check-input {
     position: static;
     margin-top: 0;
     margin-right: 0.3125rem;
     margin-left: 0; }

 .valid-feedback {
   display: none;
   width: 100%;
   margin-top: 0.25rem;
   font-size: 80%;
   color: #28a745; }

 .valid-tooltip {
   position: absolute;
   top: 100%;
   z-index: 5;
   display: none;
   max-width: 100%;
   padding: 0.25rem 0.5rem;
   margin-top: .1rem;
   font-size: 0.875rem;
   line-height: 1.5;
   color: #fff;
   background-color: rgba(40, 167, 69, 0.9);
   border-radius: 0.25rem; }

 .was-validated .form-control:valid, .form-control.is-valid,
 .was-validated .custom-select:valid,
 .custom-select.is-valid {
   border-color: #28a745; }
   .was-validated .form-control:valid:focus, .form-control.is-valid:focus,
   .was-validated .custom-select:valid:focus,
   .custom-select.is-valid:focus {
     border-color: #28a745;
     box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25); }
   .was-validated .form-control:valid ~ .valid-feedback,
   .was-validated .form-control:valid ~ .valid-tooltip, .form-control.is-valid ~ .valid-feedback,
   .form-control.is-valid ~ .valid-tooltip,
   .was-validated .custom-select:valid ~ .valid-feedback,
   .was-validated .custom-select:valid ~ .valid-tooltip,
   .custom-select.is-valid ~ .valid-feedback,
   .custom-select.is-valid ~ .valid-tooltip {
     display: block; }

 .was-validated .form-control-file:valid ~ .valid-feedback,
 .was-validated .form-control-file:valid ~ .valid-tooltip, .form-control-file.is-valid ~ .valid-feedback,
 .form-control-file.is-valid ~ .valid-tooltip {
   display: block; }

 .was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
   color: #28a745; }
 .was-validated .form-check-input:valid ~ .valid-feedback,
 .was-validated .form-check-input:valid ~ .valid-tooltip, .form-check-input.is-valid ~ .valid-feedback,
 .form-check-input.is-valid ~ .valid-tooltip {
   display: block; }

 .was-validated .custom-control-input:valid ~ .custom-control-label, .custom-control-input.is-valid ~ .custom-control-label {
   color: #28a745; }
   .was-validated .custom-control-input:valid ~ .custom-control-label::before, .custom-control-input.is-valid ~ .custom-control-label::before {
     background-color: #71dd8a; }
 .was-validated .custom-control-input:valid ~ .valid-feedback,
 .was-validated .custom-control-input:valid ~ .valid-tooltip, .custom-control-input.is-valid ~ .valid-feedback,
 .custom-control-input.is-valid ~ .valid-tooltip {
   display: block; }
 .was-validated .custom-control-input:valid:checked ~ .custom-control-label::before, .custom-control-input.is-valid:checked ~ .custom-control-label::before {
   background-color: #34ce57; }
 .was-validated .custom-control-input:valid:focus ~ .custom-control-label::before, .custom-control-input.is-valid:focus ~ .custom-control-label::before {
   box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(40, 167, 69, 0.25); }

 .was-validated .custom-file-input:valid ~ .custom-file-label, .custom-file-input.is-valid ~ .custom-file-label {
   border-color: #28a745; }
   .was-validated .custom-file-input:valid ~ .custom-file-label::after, .custom-file-input.is-valid ~ .custom-file-label::after {
     border-color: inherit; }
 .was-validated .custom-file-input:valid ~ .valid-feedback,
 .was-validated .custom-file-input:valid ~ .valid-tooltip, .custom-file-input.is-valid ~ .valid-feedback,
 .custom-file-input.is-valid ~ .valid-tooltip {
   display: block; }
 .was-validated .custom-file-input:valid:focus ~ .custom-file-label, .custom-file-input.is-valid:focus ~ .custom-file-label {
   box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25); }

 .invalid-feedback {
   display: none;
   width: 100%;
   margin-top: 0.25rem;
   font-size: 80%;
   color: #dc3545; }

 .invalid-tooltip {
   position: absolute;
   top: 100%;
   z-index: 5;
   display: none;
   max-width: 100%;
   padding: 0.25rem 0.5rem;
   margin-top: .1rem;
   font-size: 0.875rem;
   line-height: 1.5;
   color: #fff;
   background-color: rgba(220, 53, 69, 0.9);
   border-radius: 0.25rem; }

 .was-validated .form-control:invalid, .form-control.is-invalid,
 .was-validated .custom-select:invalid,
 .custom-select.is-invalid {
   border-color: #dc3545; }
   .was-validated .form-control:invalid:focus, .form-control.is-invalid:focus,
   .was-validated .custom-select:invalid:focus,
   .custom-select.is-invalid:focus {
     border-color: #dc3545;
     box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25); }
   .was-validated .form-control:invalid ~ .invalid-feedback,
   .was-validated .form-control:invalid ~ .invalid-tooltip, .form-control.is-invalid ~ .invalid-feedback,
   .form-control.is-invalid ~ .invalid-tooltip,
   .was-validated .custom-select:invalid ~ .invalid-feedback,
   .was-validated .custom-select:invalid ~ .invalid-tooltip,
   .custom-select.is-invalid ~ .invalid-feedback,
   .custom-select.is-invalid ~ .invalid-tooltip {
     display: block; }

 .was-validated .form-control-file:invalid ~ .invalid-feedback,
 .was-validated .form-control-file:invalid ~ .invalid-tooltip, .form-control-file.is-invalid ~ .invalid-feedback,
 .form-control-file.is-invalid ~ .invalid-tooltip {
   display: block; }

 .was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label {
   color: #dc3545; }
 .was-validated .form-check-input:invalid ~ .invalid-feedback,
 .was-validated .form-check-input:invalid ~ .invalid-tooltip, .form-check-input.is-invalid ~ .invalid-feedback,
 .form-check-input.is-invalid ~ .invalid-tooltip {
   display: block; }

 .was-validated .custom-control-input:invalid ~ .custom-control-label, .custom-control-input.is-invalid ~ .custom-control-label {
   color: #dc3545; }
   .was-validated .custom-control-input:invalid ~ .custom-control-label::before, .custom-control-input.is-invalid ~ .custom-control-label::before {
     background-color: #efa2a9; }
 .was-validated .custom-control-input:invalid ~ .invalid-feedback,
 .was-validated .custom-control-input:invalid ~ .invalid-tooltip, .custom-control-input.is-invalid ~ .invalid-feedback,
 .custom-control-input.is-invalid ~ .invalid-tooltip {
   display: block; }
 .was-validated .custom-control-input:invalid:checked ~ .custom-control-label::before, .custom-control-input.is-invalid:checked ~ .custom-control-label::before {
   background-color: #e4606d; }
 .was-validated .custom-control-input:invalid:focus ~ .custom-control-label::before, .custom-control-input.is-invalid:focus ~ .custom-control-label::before {
   box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(220, 53, 69, 0.25); }

 .was-validated .custom-file-input:invalid ~ .custom-file-label, .custom-file-input.is-invalid ~ .custom-file-label {
   border-color: #dc3545; }
   .was-validated .custom-file-input:invalid ~ .custom-file-label::after, .custom-file-input.is-invalid ~ .custom-file-label::after {
     border-color: inherit; }
 .was-validated .custom-file-input:invalid ~ .invalid-feedback,
 .was-validated .custom-file-input:invalid ~ .invalid-tooltip, .custom-file-input.is-invalid ~ .invalid-feedback,
 .custom-file-input.is-invalid ~ .invalid-tooltip {
   display: block; }
 .was-validated .custom-file-input:invalid:focus ~ .custom-file-label, .custom-file-input.is-invalid:focus ~ .custom-file-label {
   box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25); }

 .form-inline {
   display: flex;
   flex-flow: row wrap;
   align-items: center; }
   .form-inline .form-check {
     width: 100%; }
   @media (min-width: 576px) {
     .form-inline label {
       display: flex;
       align-items: center;
       justify-content: center;
       margin-bottom: 0; }
     .form-inline .form-group {
       display: flex;
       flex: 0 0 auto;
       flex-flow: row wrap;
       align-items: center;
       margin-bottom: 0; }
     .form-inline .form-control {
       display: inline-block;
       width: auto;
       vertical-align: middle; }
     .form-inline .form-control-plaintext {
       display: inline-block; }
     .form-inline .input-group,
     .form-inline .custom-select {
       width: auto; }
     .form-inline .form-check {
       display: flex;
       align-items: center;
       justify-content: center;
       width: auto;
       padding-left: 0; }
     .form-inline .form-check-input {
       position: relative;
       margin-top: 0;
       margin-right: 0.25rem;
       margin-left: 0; }
     .form-inline .custom-control {
       align-items: center;
       justify-content: center; }
     .form-inline .custom-control-label {
       margin-bottom: 0; } }


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color:#1EBBA3 !important;
    color: black;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.228);
}

.navbar-brand {
   color: #1EBBA3;
}






.text-muted {
   color: #BEC8CE !important; }

.subheading {
   font-size: large;
}



.font-weight-bold {
   font-family: 'Caveat Brush', cursive;
}






/* Devices under 576px (sm) */

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
